@page "/"
@using Bryjen.MudMarkdownEditor.Sample.Components.Github

<PageTitle>Sample Github Issue</PageTitle>

<div>
    @RenderIssueHeader
    @RenderIssueContentsContainer
</div>

<style>
    .link {
        text-decoration-color: #478be6; 
        color: #478be6       
    }
    
    .link:hover {
        text-decoration: underline;
    }
</style>

@code
{
    private RenderFragment RenderIssueHeader => __builder =>
    {
        <div style="width: 100%">
            <div style="display: flex; justify-content: space-between; align-items: center">
                <div style="display: flex; justify-content: flex-start; align-items: center; gap: 1rem">
                    <MudText Typo="Typo.h4">
                        Speeding up processes related to the WRS2.json file
                    </MudText>
                    <MudText Typo="Typo.h5">
                        #3
                    </MudText>
                </div>

                <div>
                    <MudButton DropShadow="@false" Variant="Variant.Filled" Size="Size.Small" Style="border: 1px solid #3d444d;">
                        <MudText Typo="Typo.caption">
                            <b>Edit</b>
                        </MudText>
                    </MudButton>
                    <MudButton DropShadow="@false" Variant="Variant.Filled" Size="Size.Small" Style="color: white; background-color: #3b8640; border: 1px solid #44864a">
                        <MudText Typo="Typo.caption">
                            <b>New Issue</b>
                        </MudText>
                    </MudButton>
                </div>
            </div>
        </div>

        <div style="width: 100%; display: flex; align-items: center">
            <MudChip T="string" Style="background-color: #347d39">
                <ChildContent>
                    <div style="display: flex; align-items: center; gap: 0.5rem;">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" width="16" data-view-component="true" style="filter: brightness(0) invert(1)">
                            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path><path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Z"></path>
                        </svg>

                        <MudText Style="color: white">
                            Open
                        </MudText>
                    </div>
                </ChildContent>
            </MudChip>

            <MudChip T="string" Style="background-color: #212830; border: 0.125rem solid #3d444d">
                <ChildContent>
                    <div style="display: flex; align-items: center; gap: 0.5rem;">
                        <svg width="16" height="16" aria-hidden="true" viewBox="0 0 16 16" data-view-component="true" style="filter: brightness(0) invert(1)">
                            <path d="M2.5 1.75v11.5c0 .138.112.25.25.25h3.17a.75.75 0 0 1 0 1.5H2.75A1.75 1.75 0 0 1 1 13.25V1.75C1 .784 1.784 0 2.75 0h8.5C12.216 0 13 .784 13 1.75v7.736a.75.75 0 0 1-1.5 0V1.75a.25.25 0 0 0-.25-.25h-8.5a.25.25 0 0 0-.25.25Zm13.274 9.537v-.001l-4.557 4.45a.75.75 0 0 1-1.055-.008l-1.943-1.95a.75.75 0 0 1 1.062-1.058l1.419 1.425 4.026-3.932a.75.75 0 1 1 1.048 1.074ZM4.75 4h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5ZM4 7.75A.75.75 0 0 1 4.75 7h2a.75.75 0 0 1 0 1.5h-2A.75.75 0 0 1 4 7.75Z"></path>
                        </svg>

                        <MudText Typo="Typo.caption" Style="color: white">
                            7 Tasks
                        </MudText>
                    </div>
                </ChildContent>
            </MudChip>

            <MudText Typo="Typo.body2" Class="mx-4">
                <b>bryjen</b> opened this issue @((DateTime.Today - new DateTime(2024, 10, 17)).Days) days ago
                ·
                2 comments
            </MudText>
        </div>

        <MudDivider Class="mt-4" Style="border-color: #3d444d;"></MudDivider>
    };

    private RenderFragment RenderIssueContentsContainer => __builder =>
    {
        double timelineContainersRatio = 0.75;

        <div style="min-height: 500px; width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: stretch;">
            <div style="@($"width: {timelineContainersRatio * 100}%")">
                @RenderIssueContents
            </div>
            <div style="@($"width: {(1 - timelineContainersRatio) * 100}%")">
                @RenderSidebar
            </div>
        </div>
    };

#region Issue Contents
    private RenderFragment RenderIssueContents => __builder =>
    {
        <div id="issue-contents" class="px-2">
            <div id="timeline-items-container">
                @for (var i = 0; i < TimelineItemModels.Length; i++)
                {
                    var model = TimelineItemModels[i];
                    var itemAuthor = model.ItemAuthor;
                    var imagePath = GetAvatarSrcFromAuthor(model.ItemAuthor);
                    
                    <TimelineItem TimelineItemModel="@model" 
                                  IsHeaderItem="@(i == 0)"
                                  IsAuthorRepoOwner="@(string.Equals(itemAuthor, RepoOwner, StringComparison.InvariantCultureIgnoreCase))"
                                  IsAuthorIssueAuthor="@(string.Equals(itemAuthor, IssueAuthor, StringComparison.InvariantCultureIgnoreCase))">
                        <AvatarRenderFragment>
                            <MudAvatar Elevation="0" Style="border: none">
                                <MudImage Src="@imagePath" />
                            </MudAvatar>
                        </AvatarRenderFragment>
                    </TimelineItem>
                }

                <MudDivider Style="border: 1px solid #3d444d;"></MudDivider>
                
                <MudMarkdownEditor Style="width: 100%; height: 700px; background-color: #2a313c">

                </MudMarkdownEditor>
            </div>
        </div>
    };

    private string? GetAvatarSrcFromAuthor(string author)
    {
        return author.Trim().ToLower() switch
        {
            "bryjen" => "imgs/profiles/github-profile-1.png",
            "rima1881" => "imgs/profiles/github-profile-2.png",
            "joyal99" => "imgs/profiles/github-profile-3.png",
            "genericlearner" => "imgs/profiles/github-profile-4.png",
            _ => null
        };
    }
#endregion
    
#region Sidebar
    private RenderFragment RenderSidebar => __builder =>
    {
        <div style="margin-top: 3rem; padding-left: 1rem">
            @RenderSidebarItem("Assignees",
            @<div>
@*
                            <MudText Typo="Typo.body2" Style="display:flex; font-size: 0.8rem">
                                No one -&nbsp;
                                <MudLink Href="" Underline="Underline.Always" Style="text-decoration-color: grey">
                                    <MudText Typo="Typo.body2" Style="font-size: 0.8rem; color: grey">
                                        assign yourself
                                    </MudText>
                                </MudLink>
                            </MudText>
*@
                @RenderParticipant("imgs/profiles/github-profile-1.png", "bryjen")
                @RenderParticipant("imgs/profiles/github-profile-2.png", "rima1881")
                <MudDivider Class="my-4" Style="border-color: #3d444d;"></MudDivider>
            </div>)

            @RenderSidebarItem("Labels",
            @<div>
                <MudText Typo="Typo.body2" Style="font-size: 0.8rem">None yet</MudText>
                <MudDivider Class="my-4" Style="border-color: #3d444d;"></MudDivider>
            </div>)

            @RenderSidebarItem("Projects",
            @<div>
                <MudText Typo="Typo.body2" Style="font-size: 0.8rem">None yet</MudText>
                <MudDivider Class="my-4" Style="border-color: #3d444d;"></MudDivider>
            </div>)

            @RenderSidebarItem("Milestone",
            @<div>
                <MudText Typo="Typo.body2" Style="font-size: 0.8rem">No milestone</MudText>
                <MudDivider Class="my-4" Style="border-color: #3d444d;"></MudDivider>
            </div>)

            @RenderSidebarItem("Milestone",
            @<div>
                <MudText Typo="Typo.body2" Style="display:flex; font-size: 0.8rem">
@*
                                <MudLink Href="" Style="text-decoration-color: #478be6">
                                    <MudText Typo="Typo.body2" Style="font-size: 0.8rem; color: #478be6">
                                        Create a branch&nbsp;
                                    </MudText>
                                </MudLink>
                                for this issue or link a pull request.
*@
                    <p>
                        <a href="/" class="link">
                            Create a branch
                        </a>
                        &nbsp;for this issue or link a pull request.
                    </p>
                </MudText>
                <MudDivider Class="my-4" Style="border-color: #3d444d;"></MudDivider>
            </div>)

            <div>
                <MudButton Style="width: 100%; padding: 0; margin-bottom: 0.25rem;">
                    <ChildContent>
                        <div style="width: 100%; display: flex; justify-content: space-between; align-items: center">
                            <MudText Typo="Typo.body2" Align="Align.Center">
                                <b>
                                    Notifications
                                </b>
                            </MudText>

                            <MudText Typo="Typo.caption" Align="Align.Center">
                                Customize
                            </MudText>
                        </div>
                    </ChildContent>
                </MudButton>

                <MudButton Size="Size.Small" DropShadow="@false" Variant="Variant.Filled" Style="width: 100%; margin: 0.5rem 0; background-color: #2f3742; outline: 1px solid #3d444d">
                    <ChildContent>
                        <MudIcon Icon="@Icons.Material.Filled.NotificationsOff"/>
                        <MudText Typo="Typo.caption" Align="Align.Center">
                            Unsubscribe
                        </MudText>
                    </ChildContent>
                </MudButton>

                <MudText Typo="Typo.caption" Style="font-size: 0.7rem">
                    You're receiving notifications because you're watching this repository.
                </MudText>

                <MudDivider Class="my-4" Style="border-color: #3d444d;"></MudDivider>
            </div>

            <div>
                <MudText Typo="Typo.caption">
                    4 Paricipants
                </MudText>

                <MudAvatarGroup Max="5" Spacing="0" Class="mt-2">
                    <MudAvatar Size="Size.Small" Elevation="0" Style="border: none">
                        <MudImage Src="imgs/profiles/github-profile-1.png" />
                    </MudAvatar>
                    <MudAvatar Size="Size.Small" Elevation="0" Style="border: none">
                        <MudImage Src="imgs/profiles/github-profile-2.png" />
                    </MudAvatar>
                    <MudAvatar Size="Size.Small" Elevation="0" Style="border: none">
                        <MudImage Src="imgs/profiles/github-profile-3.png" />
                    </MudAvatar>
                    <MudAvatar Size="Size.Small" Elevation="0" Style="border: none">
                        <MudImage Src="imgs/profiles/github-profile-4.png" />
                    </MudAvatar>
                </MudAvatarGroup>
            </div>

            <MudDivider Class="my-4" Style="border-color: #3d444d;"></MudDivider>

            <div style="display: flex; flex-direction: column; align-items: baseline;">
                <MudButton Size="Size.Small" DropShadow="@false" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Lock"
                           Style="margin: 0.5rem 0; background-color: #2f3742; outline: 1px solid #3d444d">
                    <MudText Typo="Typo.subtitle2" Style="font-size: 0.7rem">
                        Lock conversation
                    </MudText>
                </MudButton>

                <MudButton Size="Size.Small" DropShadow="@false" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.PushPin"
                           Style="margin: 0.5rem 0; background-color: #2f3742; outline: 1px solid #3d444d">
                    <MudText Typo="Typo.subtitle2" Style="font-size: 0.7rem">
                        Pin issue
                    </MudText>
                </MudButton>

                <MudButton Size="Size.Small" DropShadow="@false" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowForward"
                           Style="margin: 0.5rem 0; background-color: #2f3742; outline: 1px solid #3d444d">
                    <MudText Typo="Typo.subtitle2" Style="font-size: 0.7rem">
                        Transfer issue
                    </MudText>
                </MudButton>

                <MudButton Size="Size.Small" DropShadow="@false" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.DeleteOutline"
                           Style="margin: 0.5rem 0; background-color: #2f3742; outline: 1px solid #3d444d">
                    <MudText Typo="Typo.subtitle2" Style="font-size: 0.7rem">
                        Delete issue
                    </MudText>
                </MudButton>
            </div>
        </div>
    };

    private RenderFragment RenderSidebarItem(string headerText, RenderFragment childContents) => __builder =>
    {
        <div>
            <MudButton Style="width: 100%; padding: 0; margin-bottom: 0.25rem;">
                <ChildContent>
                    <div style="width: 100%; display: flex; justify-content: space-between; align-items: center">
                        <MudText Typo="Typo.body2" Align="Align.Center">
                            <b>
                                @headerText
                            </b>
                        </MudText>

                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" width="16" data-view-component="true" style="filter: brightness(0) invert(1)">
                            <path d="M8 0a8.2 8.2 0 0 1 .701.031C9.444.095 9.99.645 10.16 1.29l.288 1.107c.018.066.079.158.212.224.231.114.454.243.668.386.123.082.233.09.299.071l1.103-.303c.644-.176 1.392.021 1.82.63.27.385.506.792.704 1.218.315.675.111 1.422-.364 1.891l-.814.806c-.049.048-.098.147-.088.294.016.257.016.515 0 .772-.01.147.038.246.088.294l.814.806c.475.469.679 1.216.364 1.891a7.977 7.977 0 0 1-.704 1.217c-.428.61-1.176.807-1.82.63l-1.102-.302c-.067-.019-.177-.011-.3.071a5.909 5.909 0 0 1-.668.386c-.133.066-.194.158-.211.224l-.29 1.106c-.168.646-.715 1.196-1.458 1.26a8.006 8.006 0 0 1-1.402 0c-.743-.064-1.289-.614-1.458-1.26l-.289-1.106c-.018-.066-.079-.158-.212-.224a5.738 5.738 0 0 1-.668-.386c-.123-.082-.233-.09-.299-.071l-1.103.303c-.644.176-1.392-.021-1.82-.63a8.12 8.12 0 0 1-.704-1.218c-.315-.675-.111-1.422.363-1.891l.815-.806c.05-.048.098-.147.088-.294a6.214 6.214 0 0 1 0-.772c.01-.147-.038-.246-.088-.294l-.815-.806C.635 6.045.431 5.298.746 4.623a7.92 7.92 0 0 1 .704-1.217c.428-.61 1.176-.807 1.82-.63l1.102.302c.067.019.177.011.3-.071.214-.143.437-.272.668-.386.133-.066.194-.158.211-.224l.29-1.106C6.009.645 6.556.095 7.299.03 7.53.01 7.764 0 8 0Zm-.571 1.525c-.036.003-.108.036-.137.146l-.289 1.105c-.147.561-.549.967-.998 1.189-.173.086-.34.183-.5.29-.417.278-.97.423-1.529.27l-1.103-.303c-.109-.03-.175.016-.195.045-.22.312-.412.644-.573.99-.014.031-.021.11.059.19l.815.806c.411.406.562.957.53 1.456a4.709 4.709 0 0 0 0 .582c.032.499-.119 1.05-.53 1.456l-.815.806c-.081.08-.073.159-.059.19.162.346.353.677.573.989.02.03.085.076.195.046l1.102-.303c.56-.153 1.113-.008 1.53.27.161.107.328.204.501.29.447.222.85.629.997 1.189l.289 1.105c.029.109.101.143.137.146a6.6 6.6 0 0 0 1.142 0c.036-.003.108-.036.137-.146l.289-1.105c.147-.561.549-.967.998-1.189.173-.086.34-.183.5-.29.417-.278.97-.423 1.529-.27l1.103.303c.109.029.175-.016.195-.045.22-.313.411-.644.573-.99.014-.031.021-.11-.059-.19l-.815-.806c-.411-.406-.562-.957-.53-1.456a4.709 4.709 0 0 0 0-.582c-.032-.499.119-1.05.53-1.456l.815-.806c.081-.08.073-.159.059-.19a6.464 6.464 0 0 0-.573-.989c-.02-.03-.085-.076-.195-.046l-1.102.303c-.56.153-1.113.008-1.53-.27a4.44 4.44 0 0 0-.501-.29c-.447-.222-.85-.629-.997-1.189l-.289-1.105c-.029-.11-.101-.143-.137-.146a6.6 6.6 0 0 0-1.142 0ZM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM9.5 8a1.5 1.5 0 1 0-3.001.001A1.5 1.5 0 0 0 9.5 8Z"></path>
                        </svg>
                    </div>
                </ChildContent>
            </MudButton>

            @childContents
        </div>
    };

    private RenderFragment RenderParticipant(string imagePath, string user) => __builder =>
    {
        <div class="mt-1" style="display: flex; align-items: center; gap: 0.5rem">
            <MudAvatar Size="Size.Small" Elevation="0" Style="border: none">
                <MudImage Src="@imagePath" />
            </MudAvatar>

            <MudText Typo="Typo.body1" Style="font-size: 0.75rem">
                <b>
                    @user
                </b>
            </MudText>
        </div>
    };
#endregion
}
