@using Microsoft.JSInterop
@namespace Bryjen.MudMarkdownEditor

@inject IJSRuntime JsRuntime


@ComponentTemplate((EditorTemplate, PreviewTemplate))


@code {
    protected override void OnInitialized()
    {
        // Initialize with default values
        
        ComponentTemplate = templates => 
            @<div class="mud-markdown-editor @Classes" style="@Styles">
                @templates.EditorTemplate
                @templates.PreviewTemplate
            </div>;
        
        EditorTemplate = 
            @<textarea @bind-value="@Markdown" @bind-value:event="oninput" class="markdown-editor-container">
            </textarea>;
        
        PreviewTemplate =
            @<div class="markdown-preview-container">
                @((MarkupString) ParseMarkdownFunc(Markdown))
            </div>;
    }
}

<!--suppress CssUnresolvedCustomProperty -->
<style>
    .markdown-editor-container {
        flex-grow: 1;
        max-height: 50%;
        width: 100%;
        padding: 1rem;
        
        color: var(--mud-palette-primary-text);
        border: 1px solid #ccc;
        background-color: var(--mud-palette-background);
        
        resize: none;
        outline: none;
        overflow: auto;
    }
    
    .markdown-preview-container {
        flex-grow: 1; 
        max-height: 50%; 
        width: 100%;
        padding: 1rem;

        overflow: auto;
    }
</style>
